/**
 File contains CSS grid classes
*/

.ncss-container {
    width: 100%;
    padding-left: 10px;
    padding-right: 10px
}

.ncss-container.fixed-fluid {
    margin-left: 12px;
    margin-right: 12px;
    max-width: 1808px;
    width: auto
}

@media only screen and (min-width:1024px) {
    .ncss-container.fixed-fluid {
        margin-left: 48px;
        margin-right: 48px
    }
}

@media screen and (min-width:1920px) {
    .ncss-container.fixed-fluid {
        margin-left: auto;
        margin-right: auto
    }
}

.ncss-row {
    font-size: 0;
    margin-left: -10px;
    margin-right: -10px
}

.ncss-row:after,
.ncss-row:before {
    content: "";
    display: table
}

.ncss-row:after {
    clear: both
}

[class*=ncss-col-] {
    position: relative;
    min-height: 1px;
    display: none;
    font-size: 16px;
    line-height: 1.75;
    padding-left: 10px;
    padding-right: 10px
}

[class*=ncss-col-].full {
    padding-left: 0;
    padding-right: 0
}

[class*=ncss-col-].full>.ncss-row {
    margin-right: 0;
    margin-left: 0
}

.ncss-col-sm-1 {
    width: 8.333333333333333%;
    display: inline-block
}

.ncss-col-sm-offset-1 {
    margin-left: 8.333333333333333%
}

.ncss-col-sm-push-1 {
    left: 8.333333333333333%;
}

.ncss-col-sm-pull-1 {
    right: 8.333333333333333%;
}

.ncss-col-sm-2 {
    width: 16.66666666666667%;
    display: inline-block
}

.ncss-col-sm-offset-2 {
    margin-left: 16.66666666666667%
}

.ncss-col-sm-push-2 {
    left: 16.66666666666667%
}

.ncss-col-sm-pull-2 {
    right: 16.66666666666667%
}

.ncss-col-sm-3 {
    width: 25%;
    display: inline-block
}

.ncss-col-sm-offset-3 {
    margin-left: 25%
}

.ncss-col-sm-push-3 {
    left: 25%
}

.ncss-col-sm-pull-3 {
    right: 25%
}

.ncss-col-sm-4 {
    width: 33.33333333333333%;
    display: inline-block
}

.ncss-col-sm-offset-4 {
    margin-left: 33.33333333333333%
}

.ncss-col-sm-push-4 {
    left: 33.33333333333333%
}

.ncss-col-sm-pull-4 {
    right: 33.33333333333333%
}

.ncss-col-sm-5 {
    width: 41.66666666666667%;
    display: inline-block
}

.ncss-col-sm-offset-5 {
    margin-left: 41.66666666666667%
}

.ncss-col-sm-push-5 {
    left: 41.66666666666667%
}

.ncss-col-sm-pull-5 {
    right: 41.66666666666667%
}

.ncss-col-sm-6 {
    width: 50%;
    display: inline-block
}

.ncss-col-sm-offset-6 {
    margin-left: 50%
}

.ncss-col-sm-push-6 {
    left: 50%
}

.ncss-col-sm-pull-6 {
    right: 50%
}

.ncss-col-sm-7 {
    width: 58.33333333333334;
    display: inline-block
}

.ncss-col-sm-offset-7 {
    margin-left: 58.33333333333334
}

.ncss-col-sm-push-7 {
    left: 58.33333333333334
}

.ncss-col-sm-pull-7 {
    right: 58.33333333333334
}

.ncss-col-sm-8 {
    width: 66.66666666666667%;
    display: inline-block
}

.ncss-col-sm-offset-8 {
    margin-left: 66.66666666666667%
}

.ncss-col-sm-push-8 {
    left: 66.66666666666667%
}

.ncss-col-sm-pull-8 {
    right: 66.66666666666667%
}

.ncss-col-sm-9 {
    width: 75%;
    display: inline-block
}

.ncss-col-sm-offset-9 {
    margin-left: 75%
}

.ncss-col-sm-push-9 {
    left: 75%
}

.ncss-col-sm-pull-9 {
    right: 75%
}

.ncss-col-sm-10 {
    width: 83.33333333333334%;
    display: inline-block
}

.ncss-col-sm-offset-10 {
    margin-left: 83.33333333333334%
}

.ncss-col-sm-push-10 {
    left: 83.33333333333334%
}

.ncss-col-sm-pull-10 {
    right: 83.33333333333334%
}

.ncss-col-sm-11 {
    width: 91.66666666666667%;
    display: inline-block
}

.ncss-col-sm-offset-11 {
    margin-left: 91.66666666666667%
}

.ncss-col-sm-push-11 {
    left: 91.66666666666667%
}

.ncss-col-sm-pull-11 {
    right: 91.66666666666667%
}

.ncss-col-sm-12 {
    width: 100%;
    display: inline-block
}

.ncss-col-sm-offset-12 {
    margin-left: 100%
}

.ncss-col-sm-push-12 {
    left: 100%
}

.ncss-col-sm-pull-12 {
    right: 100%
}

@media only screen and (min-width:640px) {
    .ncss-col-md-1 {
        width: 8.333333333333333%;;
        display: inline-block
    }
    .ncss-col-md-offset-1 {
        margin-left: 8.333333333333333%;
    }
    .ncss-col-md-push-1 {
        left: 8.333333333333333%;
    }
    .ncss-col-md-pull-1 {
        right: 8.333333333333333%;
    }
    .ncss-col-md-2 {
        width: 16.66666666666667%;
        display: inline-block
    }
    .ncss-col-md-offset-2 {
        margin-left: 16.66666666666667%
    }
    .ncss-col-md-push-2 {
        left: 16.66666666666667%
    }
    .ncss-col-md-pull-2 {
        right: 16.66666666666667%
    }
    .ncss-col-md-3 {
        width: 25%;
        display: inline-block
    }
    .ncss-col-md-offset-3 {
        margin-left: 25%
    }
    .ncss-col-md-push-3 {
        left: 25%
    }
    .ncss-col-md-pull-3 {
        right: 25%
    }
    .ncss-col-md-4 {
        width: 33.33333333333333%;
        display: inline-block
    }
    .ncss-col-md-offset-4 {
        margin-left: 33.33333333333333%
    }
    .ncss-col-md-push-4 {
        left: 33.33333333333333%
    }
    .ncss-col-md-pull-4 {
        right: 33.33333333333333%
    }
    .ncss-col-md-5 {
        width: 41.66666666666667%;
        display: inline-block
    }
    .ncss-col-md-offset-5 {
        margin-left: 41.66666666666667%
    }
    .ncss-col-md-push-5 {
        left: 41.66666666666667%
    }
    .ncss-col-md-pull-5 {
        right: 41.66666666666667%
    }
    .ncss-col-md-6 {
        width: 50%;
        display: inline-block
    }
    .ncss-col-md-offset-6 {
        margin-left: 50%
    }
    .ncss-col-md-push-6 {
        left: 50%
    }
    .ncss-col-md-pull-6 {
        right: 50%
    }
    .ncss-col-md-7 {
        width: 58.33333333333334;
        display: inline-block
    }
    .ncss-col-md-offset-7 {
        margin-left: 58.33333333333334
    }
    .ncss-col-md-push-7 {
        left: 58.33333333333334
    }
    .ncss-col-md-pull-7 {
        right: 58.33333333333334
    }
    .ncss-col-md-8 {
        width: 66.66666666666667%;
        display: inline-block
    }
    .ncss-col-md-offset-8 {
        margin-left: 66.66666666666667%
    }
    .ncss-col-md-push-8 {
        left: 66.66666666666667%
    }
    .ncss-col-md-pull-8 {
        right: 66.66666666666667%
    }
    .ncss-col-md-9 {
        width: 75%;
        display: inline-block
    }
    .ncss-col-md-offset-9 {
        margin-left: 75%
    }
    .ncss-col-md-push-9 {
        left: 75%
    }
    .ncss-col-md-pull-9 {
        right: 75%
    }
    .ncss-col-md-10 {
        width: 83.33333333333334%;
        display: inline-block
    }
    .ncss-col-md-offset-10 {
        margin-left: 83.33333333333334%
    }
    .ncss-col-md-push-10 {
        left: 83.33333333333334%
    }
    .ncss-col-md-pull-10 {
        right: 83.33333333333334%
    }
    .ncss-col-md-11 {
        width: 91.66666666666667%;
        display: inline-block
    }
    .ncss-col-md-offset-11 {
        margin-left: 91.66666666666667%
    }
    .ncss-col-md-push-11 {
        left: 91.66666666666667%
    }
    .ncss-col-md-pull-11 {
        right: 91.66666666666667%
    }
    .ncss-col-md-12 {
        width: 100%;
        display: inline-block
    }
    .ncss-col-md-offset-12 {
        margin-left: 100%
    }
    .ncss-col-md-push-12 {
        left: 100%
    }
    .ncss-col-md-pull-12 {
        right: 100%
    }
}

@media only screen and (min-width:1024px) {
    .ncss-col-lg-1 {
        width: 8.333333333333333%;
        display: inline-block
    }
    .ncss-col-lg-offset-1 {
        margin-left: 8.333333333333333%;
    }
    .ncss-col-lg-push-1 {
        left: 8.333333333333333%;
    }
    .ncss-col-lg-pull-1 {
        right: 8.333333333333333%;
    }
    .ncss-col-lg-2 {
        width: 16.66666666666667%;
        display: inline-block
    }
    .ncss-col-lg-offset-2 {
        margin-left: 16.66666666666667%
    }
    .ncss-col-lg-push-2 {
        left: 16.66666666666667%
    }
    .ncss-col-lg-pull-2 {
        right: 16.66666666666667%
    }
    .ncss-col-lg-3 {
        width: 25%;
        display: inline-block
    }
    .ncss-col-lg-offset-3 {
        margin-left: 25%
    }
    .ncss-col-lg-push-3 {
        left: 25%
    }
    .ncss-col-lg-pull-3 {
        right: 25%
    }
    .ncss-col-lg-4 {
        width: 33.33333333333333%;
        display: inline-block
    }
    .ncss-col-lg-offset-4 {
        margin-left: 33.33333333333333%
    }
    .ncss-col-lg-push-4 {
        left: 33.33333333333333%
    }
    .ncss-col-lg-pull-4 {
        right: 33.33333333333333%
    }
    .ncss-col-lg-5 {
        width: 41.66666666666667%;
        display: inline-block
    }
    .ncss-col-lg-offset-5 {
        margin-left: 41.66666666666667%
    }
    .ncss-col-lg-push-5 {
        left: 41.66666666666667%
    }
    .ncss-col-lg-pull-5 {
        right: 41.66666666666667%
    }
    .ncss-col-lg-6 {
        width: 50%;
        display: inline-block
    }
    .ncss-col-lg-offset-6 {
        margin-left: 50%
    }
    .ncss-col-lg-push-6 {
        left: 50%
    }
    .ncss-col-lg-pull-6 {
        right: 50%
    }
    .ncss-col-lg-7 {
        width: 58.33333333333334;
        display: inline-block
    }
    .ncss-col-lg-offset-7 {
        margin-left: 58.33333333333334
    }
    .ncss-col-lg-push-7 {
        left: 58.33333333333334
    }
    .ncss-col-lg-pull-7 {
        right: 58.33333333333334
    }
    .ncss-col-lg-8 {
        width: 66.66666666666667%;
        display: inline-block
    }
    .ncss-col-lg-offset-8 {
        margin-left: 66.66666666666667%
    }
    .ncss-col-lg-push-8 {
        left: 66.66666666666667%
    }
    .ncss-col-lg-pull-8 {
        right: 66.66666666666667%
    }
    .ncss-col-lg-9 {
        width: 75%;
        display: inline-block
    }
    .ncss-col-lg-offset-9 {
        margin-left: 75%
    }
    .ncss-col-lg-push-9 {
        left: 75%
    }
    .ncss-col-lg-pull-9 {
        right: 75%
    }
    .ncss-col-lg-10 {
        width: 83.33333333333334%;
        display: inline-block
    }
    .ncss-col-lg-offset-10 {
        margin-left: 83.33333333333334%
    }
    .ncss-col-lg-push-10 {
        left: 83.33333333333334%
    }
    .ncss-col-lg-pull-10 {
        right: 83.33333333333334%
    }
    .ncss-col-lg-11 {
        width: 91.66666666666667%;
        display: inline-block
    }
    .ncss-col-lg-offset-11 {
        margin-left: 91.66666666666667%
    }
    .ncss-col-lg-push-11 {
        left: 91.66666666666667%
    }
    .ncss-col-lg-pull-11 {
        right: 91.66666666666667%
    }
    .ncss-col-lg-12 {
        width: 100%;
        display: inline-block
    }
    .ncss-col-lg-offset-12 {
        margin-left: 100%
    }
    .ncss-col-lg-push-12 {
        left: 100%
    }
    .ncss-col-lg-pull-12 {
        right: 100%
    }
}

@media only screen and (min-width:1280px) {
    .ncss-col-xl-1 {
        width: 8.333333333333333%;
        display: inline-block
    }
    .ncss-col-xl-offset-1 {
        margin-left: 8.333333333333333%;
    }
    .ncss-col-xl-push-1 {
        left: 8.333333333333333%;
    }
    .ncss-col-xl-pull-1 {
        right: 8.333333333333333%;
    }
    .ncss-col-xl-2 {
        width: 16.66666666666667%;
        display: inline-block
    }
    .ncss-col-xl-offset-2 {
        margin-left: 16.66666666666667%
    }
    .ncss-col-xl-push-2 {
        left: 16.66666666666667%
    }
    .ncss-col-xl-pull-2 {
        right: 16.66666666666667%
    }
    .ncss-col-xl-3 {
        width: 25%;
        display: inline-block
    }
    .ncss-col-xl-offset-3 {
        margin-left: 25%
    }
    .ncss-col-xl-push-3 {
        left: 25%
    }
    .ncss-col-xl-pull-3 {
        right: 25%
    }
    .ncss-col-xl-4 {
        width: 33.33333333333333%;
        display: inline-block
    }
    .ncss-col-xl-offset-4 {
        margin-left: 33.33333333333333%
    }
    .ncss-col-xl-push-4 {
        left: 33.33333333333333%
    }
    .ncss-col-xl-pull-4 {
        right: 33.33333333333333%
    }
    .ncss-col-xl-5 {
        width: 41.66666666666667%;
        display: inline-block
    }
    .ncss-col-xl-offset-5 {
        margin-left: 41.66666666666667%
    }
    .ncss-col-xl-push-5 {
        left: 41.66666666666667%
    }
    .ncss-col-xl-pull-5 {
        right: 41.66666666666667%
    }
    .ncss-col-xl-6 {
        width: 50%;
        display: inline-block
    }
    .ncss-col-xl-offset-6 {
        margin-left: 50%
    }
    .ncss-col-xl-push-6 {
        left: 50%
    }
    .ncss-col-xl-pull-6 {
        right: 50%
    }
    .ncss-col-xl-7 {
        width: 58.33333333333334;
        display: inline-block
    }
    .ncss-col-xl-offset-7 {
        margin-left: 58.33333333333334
    }
    .ncss-col-xl-push-7 {
        left: 58.33333333333334
    }
    .ncss-col-xl-pull-7 {
        right: 58.33333333333334
    }
    .ncss-col-xl-8 {
        width: 66.66666666666667%;
        display: inline-block
    }
    .ncss-col-xl-offset-8 {
        margin-left: 66.66666666666667%
    }
    .ncss-col-xl-push-8 {
        left: 66.66666666666667%
    }
    .ncss-col-xl-pull-8 {
        right: 66.66666666666667%
    }
    .ncss-col-xl-9 {
        width: 75%;
        display: inline-block
    }
    .ncss-col-xl-offset-9 {
        margin-left: 75%
    }
    .ncss-col-xl-push-9 {
        left: 75%
    }
    .ncss-col-xl-pull-9 {
        right: 75%
    }
    .ncss-col-xl-10 {
        width: 83.33333333333334%;
        display: inline-block
    }
    .ncss-col-xl-offset-10 {
        margin-left: 83.33333333333334%
    }
    .ncss-col-xl-push-10 {
        left: 83.33333333333334%
    }
    .ncss-col-xl-pull-10 {
        right: 83.33333333333334%
    }
    .ncss-col-xl-11 {
        width: 91.66666666666667%;
        display: inline-block
    }
    .ncss-col-xl-offset-11 {
        margin-left: 91.66666666666667%
    }
    .ncss-col-xl-push-11 {
        left: 91.66666666666667%
    }
    .ncss-col-xl-pull-11 {
        right: 91.66666666666667%
    }
    .ncss-col-xl-12 {
        width: 100%;
        display: inline-block
    }
    .ncss-col-xl-offset-12 {
        margin-left: 100%
    }
    .ncss-col-xl-push-12 {
        left: 100%
    }
    .ncss-col-xl-pull-12 {
        right: 100%
    }
}

@media only screen and (min-width:1440px) {
    .ncss-col-xxl-1 {
        width: 8.333333333333333%;;
        display: inline-block
    }
    .ncss-col-xxl-offset-1 {
        margin-left: 8.333333333333333%;
    }
    .ncss-col-xxl-push-1 {
        left: 8.333333333333333%;
    }
    .ncss-col-xxl-pull-1 {
        right: 8.333333333333333%;
    }
    .ncss-col-xxl-2 {
        width: 16.66666666666667%;
        display: inline-block
    }
    .ncss-col-xxl-offset-2 {
        margin-left: 16.66666666666667%
    }
    .ncss-col-xxl-push-2 {
        left: 16.66666666666667%
    }
    .ncss-col-xxl-pull-2 {
        right: 16.66666666666667%
    }
    .ncss-col-xxl-3 {
        width: 25%;
        display: inline-block
    }
    .ncss-col-xxl-offset-3 {
        margin-left: 25%
    }
    .ncss-col-xxl-push-3 {
        left: 25%
    }
    .ncss-col-xxl-pull-3 {
        right: 25%
    }
    .ncss-col-xxl-4 {
        width: 33.33333333333333%;
        display: inline-block
    }
    .ncss-col-xxl-offset-4 {
        margin-left: 33.33333333333333%
    }
    .ncss-col-xxl-push-4 {
        left: 33.33333333333333%
    }
    .ncss-col-xxl-pull-4 {
        right: 33.33333333333333%
    }
    .ncss-col-xxl-5 {
        width: 41.66666666666667%;
        display: inline-block
    }
    .ncss-col-xxl-offset-5 {
        margin-left: 41.66666666666667%
    }
    .ncss-col-xxl-push-5 {
        left: 41.66666666666667%
    }
    .ncss-col-xxl-pull-5 {
        right: 41.66666666666667%
    }
    .ncss-col-xxl-6 {
        width: 50%;
        display: inline-block
    }
    .ncss-col-xxl-offset-6 {
        margin-left: 50%
    }
    .ncss-col-xxl-push-6 {
        left: 50%
    }
    .ncss-col-xxl-pull-6 {
        right: 50%
    }
    .ncss-col-xxl-7 {
        width: 58.33333333333334;
        display: inline-block
    }
    .ncss-col-xxl-offset-7 {
        margin-left: 58.33333333333334
    }
    .ncss-col-xxl-push-7 {
        left: 58.33333333333334
    }
    .ncss-col-xxl-pull-7 {
        right: 58.33333333333334
    }
    .ncss-col-xxl-8 {
        width: 66.66666666666667%;
        display: inline-block
    }
    .ncss-col-xxl-offset-8 {
        margin-left: 66.66666666666667%
    }
    .ncss-col-xxl-push-8 {
        left: 66.66666666666667%
    }
    .ncss-col-xxl-pull-8 {
        right: 66.66666666666667%
    }
    .ncss-col-xxl-9 {
        width: 75%;
        display: inline-block
    }
    .ncss-col-xxl-offset-9 {
        margin-left: 75%
    }
    .ncss-col-xxl-push-9 {
        left: 75%
    }
    .ncss-col-xxl-pull-9 {
        right: 75%
    }
    .ncss-col-xxl-10 {
        width: 83.33333333333334%;
        display: inline-block
    }
    .ncss-col-xxl-offset-10 {
        margin-left: 83.33333333333334%
    }
    .ncss-col-xxl-push-10 {
        left: 83.33333333333334%
    }
    .ncss-col-xxl-pull-10 {
        right: 83.33333333333334%
    }
    .ncss-col-xxl-11 {
        width: 91.66666666666667%;
        display: inline-block
    }
    .ncss-col-xxl-offset-11 {
        margin-left: 91.66666666666667%
    }
    .ncss-col-xxl-push-11 {
        left: 91.66666666666667%
    }
    .ncss-col-xxl-pull-11 {
        right: 91.66666666666667%
    }
    .ncss-col-xxl-12 {
        width: 100%;
        display: inline-block
    }
    .ncss-col-xxl-offset-12 {
        margin-left: 100%
    }
    .ncss-col-xxl-push-12 {
        left: 100%
    }
    .ncss-col-xxl-pull-12 {
        right: 100%
    }
}
