@import '../../constants/variables.scss';

.pageHeader {
    padding: 20px 0;
   
    .menuHeaderImage {
        border: none;
        outline: none;
        background: transparent;
        width: 100%;

        img {
            margin: 0 auto;
        }
    }

    .verticalDivider {
        background-color: $grey3;
        position: absolute;
        height: 61px;
        bottom: -20px;
        right: 10px;
    }

    .menuLeftHeader {
        line-height: 1;
        text-align: center;
    }

    .menuRightHeader {
        line-height: 1;
        text-align: left;
    }
}
